body{

margin:0;
font-family:Segoe UI;

background:linear-gradient(135deg,#ff7e5f,#6a11cb);

height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:white;

}

.main{

width:900px;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(15px);

padding:40px;

border-radius:20px;

text-align:center;

animation:fade 1s;

}

@keyframes fade{

from{opacity:0;transform:translateY(20px);}
to{opacity:1;}

}

.logo{

width:120px;

}

input{

padding:12px;

width:60%;

border-radius:10px;

border:none;

}

button{

padding:12px 20px;

border:none;

border-radius:10px;

background:#00ffcc;

margin-left:10px;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.1);

}

.card{

background:white;

color:black;

padding:15px;

margin:10px;

display:inline-block;

border-radius:15px;

cursor:pointer;

transition:0.3s;

}

.card:hover{

transform:scale(1.1);

background:#00ffcc;

}

.option{

background:white;

color:black;

margin:10px;

padding:10px;

border-radius:10px;

cursor:pointer;

}

.correct{

background:#4CAF50;

color:white;

}

.wrong{

background:#ff4444;

color:white;

}

.match{

background:white;

color:black;

padding:10px;

margin:5px;

border-radius:10px;

}

.drag{

background:white;

color:black;

padding:10px;

margin:5px;

border-radius:10px;

cursor:grab;

}

.drop{

border:2px dashed white;

padding:30px;

margin:10px;

border-radius:10px;

}

.score{

font-size:22px;

margin-top:20px;

}
.match{
padding:10px;
margin:8px;
background:white;
color:black;
border-radius:10px;
cursor:pointer;
width:200px;
.match:hover{
transform:scale(1.05);
background:#00ffcc;
}
}

.selected{
border:3px solid blue;
}

.drag{
background:white;
padding:10px;
margin:10px;
border-radius:10px;
cursor:grab;
display:inline-block;
}

.drop{
border:2px dashed white;
padding:30px;
border-radius:10px;
min-width:150px;
text-align:center;
}
.match-container{
display:flex;
justify-content:space-around;
margin-top:20px;
}

.category-container{
display:flex;
gap:20px;
margin-bottom:20px;
}

.drag-container{
margin-top:20px;
}