<!DOCTYPE html>
<html>

<head>

<title>AI Game Generator</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="main">

<img src="/static/hcl_logo.png" class="logo">

<h1>AI Learning Game Generator</h1>

<div class="topicBox">

<input id="topic" placeholder="Enter Topic">

<button onclick="getSubtopics()">Generate</button>

</div>

<div id="subtopics"></div>

<div id="timer"></div>

<div id="game"></div>

<div id="navigation"></div>

<div id="scoreboard"></div>

</div>

<script src="/static/script.js"></script>

</body>

</html>